<% @page_title = "映画の画像の編集 %>
<h4><%= @page_title%></h4>
<h4><%= @movie.title %></h4>

<div class="movie-edit-control"><%= link_to "映画の詳細に戻る", [:admin, @movie, image] %></div>

<%= form_for [:admin, @movie, image] do |form| %>
    <div class="movie-image-box">
        <%= form.label :new_data %>
        <%= form.file_field :new_data %>
    </div>
    <div class="movie-image-text">
        <%= form.label :text_alt %>
        <%= form.text_field :text_alt %>
    </div>
<% end %>