<ul class="menubar">
        <li><%= link_to "管理TOP", :admin_root %></li>
        <li><%= link_to "映画管理", :admin_movies %></li>
        <li><%= link_to "ユーザー管理", :admin_users %></li>
        <li><%= link_to "Review", :admin_reviews %></li>
        <li><%= link_to "TOP", :root %></li>
</ul>