<ul class="menubar">
        <li><%= link_to "Home", :root %></li>
        <li><%= link_to "全作品", :movies %></li>
        <li><%= link_to "上映中", :movies %></li>
        <li><%= link_to "Review", :reviews %></li>
        <li><%= link_to "My page", "account/user_id" %></li>
</ul>