<%= render "shared/errors", obj: @user %>

<div class="user-form">
    <div class="user-image">
        <%= form.label :user_image %>
        <%= form.file_field :user_image %>
    </div>
    <div class="user-name">
        <%= form.label :name %>
        <%= form.text_field :name %>
    </div>
    <div class="user-full_name">
        <%= form.label :full_name %>
        <%= form.text_field :full_name %>
    </div>
    <div class="user-email">
        <%= form.label :email %>
        <%= form.text_field :email %>
    </div>
    <div class="user-form">
        <%= form.label :administrator %>
        <%= form.check_box :administrator %>
    </div>
</div>