<% if @account.present? %>
<div class="container">
    <div class="user-image">
        <h2>プロフィール画像</h2>
        <% if @user.profile_picture.attached? %>
            <%= image_tag @user.profile_picture.variant(resize: "128x128") %>
        <% end %>
    </div>
    <div class="account-name">
        <%= @account.name %>
    </div>
    <div class="account-fullname">
        <%= @account.full_name %>
    </div>
    <div class="account-email">
        <%= @account.email %>
    </div>ß
</div>
<% else %>
    <p>ログイン or 新規登録をしてください</p>
        <%= link_to "ログイン", :new_user_session_path %>
        <p>or</p>
        <%= link_to "新規登録", :new_user_registration_path %>
<% end %>